<!--
--------
WARNING:
--------

THIS CODE IS ONLY MADE AVAILABLE FOR DEMONSTRATION PURPOSES AND IS NOT SECURE! DO NOT USE IN PRODUCTION!

FOR SECURITY REASONS, USING A JAVASCRIPT WEB APP HOSTED VIA THE CORDA NODE IS NOT THE RECOMMENDED WAY TO INTERFACE
WITH CORDA NODES! HOWEVER, FOR THIS PRE-ALPHA RELEASE IT'S A USEFUL WAY TO EXPERIMENT WITH THE PLATFORM AS IT ALLOWS
YOU TO QUICKLY BUILD A UI FOR DEMONSTRATION PURPOSES.

GOING FORWARD WE RECOMMEND IMPLEMENTING A STANDALONE WEB SERVER THAT AUTHORISES VIA THE NODE'S RPC INTERFACE. IN THE
COMING WEEKS WE'LL WRITE A TUTORIAL ON HOW BEST TO DO THIS.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NDA Example CorDapp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.min.js"></script>
    <script src="js/angular-module.js"></script>
</head>
<body ng-app="demoAppModule" ng-controller="DemoAppController as demoApp">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{demoApp.thisNode}}</a>
        </div>
        <button ng-click="demoApp.openModal()" type="button" class="btn btn-primary navbar-btn">Create NDA</button>
    </div>
</nav>
<script type="text/ng-template" id="demoAppModal.html">
    <div class="modal-header">
        <h4 class="modal-title">Add new NDA</h4>
    </div>
    <form>
        <div class="modal-body">
            <div class="form-group">
                <label for="counterparty" class="control-label">Counter-party:</label>
                <select ng-model="modalInstance.form.counterparty" class="form-control" id="counterparty"
                        ng-options="peer as peer for peer in modalInstance.peers">
                </select>
            </div>
            <div class="form-group">
                <label for="counterpartyEntity" class="control-label">Counterparty Entity:</label>
                <input type="text" ng-model="modalInstance.form.counterpartyEntity" class="form-control" id="counterpartyEntity">
            </div>
            <div class="form-group">
                <label for="startDate" class="control-label">Start Date (Date):</label>
                <input type="date" ng-model="modalInstance.form.startDate" class="form-control" id="startDate">
            </div>
            <div class="form-group">
                <label for="expiryDate" class="control-label">Expiry Date (Date):</label>
                <input type="date" ng-model="modalInstance.form.expiryDate" class="form-control" id="expiryDate">
            </div>
            <div class="form-group">
                <label for="jurisdiction" class="control-label">Jurisdiction :</label>
                <input type="text" ng-model="modalInstance.form.jurisdiction" class="form-control" id="jurisdiction">
            </div>
            <div class="form-group">
                <label for="ndaState" class="control-label">NDA State:</label>
                <select ng-model="modalInstance.form.ndaState" class="form-control" id="ndaState"
                        ng-options="ndaState as ndaState for ndaState in modalInstance.ndaStates">
                </select>
            </div>
            <div class="form-group">
                <label for="keywords" class="control-label">Keywords :</label>
                <input type="text" ng-model="modalInstance.form.keywords" class="form-control" id="keywords">
            </div>
            <div class="form-group">
                <label for="terms" class="control-label">Legal Terms of NDA:</label>
                <input type="text" ng-model="modalInstance.form.terms" class="form-control" id="terms">
            </div>

            <div ng-show="modalInstance.formError" class="form-group">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Enter valid NDA parameters
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="modalInstance.cancel()" type="button" class="btn btn-default">Close</button>
            <button ng-click="modalInstance.create()" type="button" class="btn btn-primary">Create NDA</button>
        </div>
    </form>
</script>
<script type="text/ng-template" id="messageContent.html">
    <div class="modal-body" id="modal-body">
        {{ modalInstanceTwo.message }}
    </div>
</script>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div ng-show="!demoApp.ndas.length" class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">There are no recorded NDAs</h3>
            </div>
            <div class="panel-body">Use the "Create NDA" button to send an NDA to a peer.</div>
        </div>
        <div ng-show="demoApp.ndas.length" class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Recorded NDAs:</h3>
            </div>
        </div>
        <div ng-repeat="nda in demoApp.ndas" class="panel panel-default">
            <div class="panel-body">
                <ul>
                    <li>Issuer: {{nda.issuer}}</li>
                    <li>Counterparty: {{nda.counterparty}}</li>
                    <li>Counterparty Entity: {{nda.counterpartyEntity}}</li>
                    <li>Start Date: {{nda.startDate}}</li>
                    <li>Expiry Date: {{nda.expiryDate}}</li>
                    <li>NDA State: {{nda.state}}</li>
                    <li>Jurisdiction: {{nda.jurisdiction}}</li>
                    <li>Keywords: {{nda.keywords}}</li>
                    <li>Terms: {{nda.terms}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

</body>
</html>